.box:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
}

.box .tooltip {
    position: absolute;
    background-color: grey;
    color: white;
    font-family: Roboto, Arial;
   
    align-items: center;
    
   /* padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 106px;
    padding-right: 132px;
    */
    width: 100%;
    height: 100%;
    
    font-size: 12px;
    
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
}
.text{
    margin-left: 105px;
    margin-top: 30px;
}
.box:hover .tooltip{
    opacity: 0.9;
}
.eduname{
    font-size: 20px;
    font-weight: bold;
}
.course{
    font-size: 12px;
    padding-bottom: 15px;

}
.boxskill:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
}

.boxskill .tooltip {
    

    
    position: absolute;
    background-color: grey;
    color: white;
    font-family: Roboto, Arial;
    
 
    width: 100%px;
    height: 100%px;
    
    font-size: 12px;
    
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
    widh: fit-content;
}
.boxskill:hover .tooltip{
    opacity: 0.9;
}

.proname{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 3px;

}
.det{
    font-size: 16px;
    
    padding-bottom: 5px;

}
.description{
    font-size: 12px;
    padding-top: 5px;

}